* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#button-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 30%;
  margin: 0 auto;
}

.header {
  font-family: $headings-font;
}
